:root {
    --gray-header: #F5F5F5;
    --gray-content: #666666;
    --gray-border: #D9D9D9;
    --blue-footer: #008ECC;
    --blue-line-footer: #05ABF3;
    --blue-marine: #212844;
    --background3: #F3F9FB;
    --border: #EDEDED;
    --heading: #222222;
    --menuBg: #F3F9FB;
    --green: #249B3E;
    --greenClair: #DFFFE9;
    --beige: #FFF3CC;
    --red: #C10303;
    --orangeBorder: #C2AA56;
}

.acheteur .header1 h2 {
    display: flex;
    align-items: center;
}

.acheteur .header1 h2 img {
    margin-right: 5px;
}

.acheteur .header2 {
    background-color: var(--blue-marine);
    margin: 45px 150px 60px 150px;
    border-radius: 20px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url("images/bgRight.png");
    background-repeat: no-repeat;
    background-position: right center;
    padding: 30px;
}

.acheteur .header2 h1 {
    font-size: 40px;
    margin: 10px 10px;
}

.acheteur .header2 h2 {
    font-size: 25px;
}

.acheteur .header1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 150px 15px 150px;
    border-bottom: solid 2px var(--border);
}

.acheteur .header1 .search {
    display: flex;
    align-items: center;
}

.acheteur .header1 .compte-panier {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 0 50px 0 150px; */
}

.acheteur .header1 .compte-panier button {
    color: var(--gray-content);
    background: transparent;
    border: none;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.acheteur .header1 .compte-panier button img {
    margin-right: 5px;
    margin-left: 15px;
}

.acheteur .menu {
    display: flex;
    align-items: center;
    padding: 25px 100px 25px 150px;
    border-bottom: solid 2px var(--border);
}

.acheteur .menu ul {
    display: flex;
    list-style: none;
}

.acheteur .menu ul li a {
    text-decoration: none;
    color: var(--heading);
    font-weight: normal;
    background: var(--menuBg);
    padding: 8px 20px 8px 20px;
    border-radius: 30px;
    margin: 0 10px 0 10px;
}

.acheteur .menu ul li .activated {
    background: var(--blue-footer);
    color: white;
}

.content1,
.content2,
.content3,
.content4 {
    margin: 0 100px 0 150px;
}

.acheteur .header1 .logo {
    color: var(--blue-footer);
}

.acheteur .header1 .search img {
    padding: 9px 10px 9px 10px;
    background: var(--background3);
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.acheteur .header1 .search input {
    background: var(--background3);
    width: 400px;
    border: none;
    padding: 10px 5px 10px 5px;
    outline: none;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.title {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 2px var(--gray-border);
}

.title .right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.title h2 {
    border-bottom: solid 3px var(--blue-footer);
    padding-bottom: 10px;
}

.title .blue {
    color: var(--blue-footer);
}

.content1 .card .top {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background: var(--gray-header);
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--gray-border);
    position: relative;
    padding: 10px;
}

.content1 .card .top .reduction {
    width: 43px;
    height: 43px;
    background: var(--blue-footer);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    position: absolute;
    top: 0;
    right: 0;
}

.content1 .content {
    display: flex;
}

.content1 .card {
    width: 210px;
    border: 1px solid var(--gray-border);
    border-radius: 15px;
    margin: 50px 50px 50px 0;
}

.content1 .card img {
    width: 150px;
    height: 150px;
}

.content1 .card .through {
    font-weight: lighter;
    text-decoration: line-through;
    margin-left: 10px;
}

.content1 .card p {
    font-weight: bold;
    padding: 7px;
}

.content1 .card .center {
    border-bottom: 1px solid var(--gray-border);
}

.content1 .card .bottom {
    color: var(--green);
}

.content2 .content .li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    cursor: pointer;
}

.content2 .content .li img {
    background: var(--gray-border);
    width: 120px;
    height: 120px;
    border-radius: 50%;
    padding: 10px;
    margin: 10px;
}

.content2 .content {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 50px 0 50px 0;
}

.content2 .wrapContent {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content3 .card {
    width: 275px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    padding: 30px;
    font-weight: bold;
}

.content3 .granite {
    background: var(--beige);
    background-image: url("images/orangeBg.png");
    background-repeat: no-repeat;
    background-position: top right;
    border: solid 2px var(--orangeBorder);
}

.content3 .batistock {
    background-image: url("images/redBg.png");
    background-repeat: no-repeat;
    background-position: top right;
    border: solid var(--red) 2px;
}

.content3 .mazana {
    background-image: url("images/greenBg.png");
    background-repeat: no-repeat;
    background-position: top right;
    border: solid var(--green) 2px;
    background: var(--greenClair);
}

.content3 .card img {
    width: 110px;
    height: 120px;
}

.content3 .content {
    padding: 50px 0 50px 0;
}

.content3 .content .wrapContent {
    display: flex;
    justify-content: space-between;
}

.content4 .content .wrapContent {
    display: flex;
    justify-content: space-between;
}

.content4 .content .wrapContent li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content4 .content .wrapContent li {
    width: 200px;
}

.content4 .content .wrapContent img {
    background: var(--gray-border);
    width: 200px;
    height: 200px;
    border-radius: 15px;
}

.content4 .content .wrapContent p {
    text-align: center;
    padding: 5px 0 5px 0;
}

.content4 .content {
    padding: 50px 0 50px 0;
}