:root {
    --gray-header: #F5F5F5;
    --gray-content: #666666;
    --gray-border: #D9D9D9;
    --blue-footer: #008ECC;
    --blue-line-footer: #05ABF3;
    --blue-marine: #212844;
    --background3: #F3F9FB;
    --border: #EDEDED;
    --heading: #222222;
    --menuBg: #F3F9FB;
    --green: #249B3E;
    --greenClair: #DFFFE9;
    --beige: #FFF3CC;
    --red: #C10303;
    --orangeBorder: #C2AA56;
}

.acheteur .header1 h2 {
    display: flex;
    align-items: center;
}

.acheteur .header1 h2 img {
    margin-right: 5px;
}

.acheteur .header2 {
    background-color: var(--blue-marine);
    margin: 45px 150px 60px 150px;
    border-radius: 20px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url("images/bgRight.png");
    background-repeat: no-repeat;
    background-position: right center;
    padding: 30px;
}

.acheteur .header2 h1 {
    font-size: 40px;
    margin: 10px 10px;
}

.acheteur .header2 h2 {
    font-size: 25px;
}

.acheteur .header1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 150px 15px 150px;
    border-bottom: solid 2px var(--border);
}

.acheteur .header1 .search {
    display: flex;
    align-items: center;
}

.acheteur .header1 .compte-panier {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 0 50px 0 150px; */
}

.acheteur .header1 .compte-panier button {
    color: var(--gray-content);
    background: transparent;
    border: none;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.acheteur .header1 .compte-panier button img {
    margin-right: 5px;
    margin-left: 15px;
}

.acheteur .menu {
    display: flex;
    align-items: center;
    padding: 25px 100px 25px 150px;
    border-bottom: solid 2px var(--border);
}

.acheteur .menu ul {
    display: flex;
    list-style: none;
}

.acheteur .menu ul li a {
    text-decoration: none;
    color: var(--heading);
    font-weight: normal;
    background: var(--menuBg);
    padding: 8px 20px 8px 20px;
    border-radius: 30px;
    margin: 0 10px 0 10px;
}

.acheteur .menu ul li .activated {
    background: var(--blue-footer);
    color: white;
}

.acheteur .header1 .logo {
    color: var(--blue-footer);
}

.acheteur .header1 .search img {
    padding: 9px 10px 9px 10px;
    background: var(--background3);
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.acheteur .header1 .search input {
    background: var(--background3);
    width: 400px;
    border: none;
    padding: 10px 5px 10px 5px;
    outline: none;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.titlePanier {
    display: flex;
    justify-content: center;
    border-bottom: solid 2px var(--gray-border);
}

.titlePanier .right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.titlePanier h2 {
    border-bottom: solid 3px var(--blue-footer);
    padding-bottom: 10px;
}

.titlePanier .blue {
    color: var(--blue-footer);
}

.content2 {
    margin-top: 50px;
}

.content2 .bodyPub {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 30px;
}

.content2 .bodyPub .cardPub {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background: #DFDADA;
    border-radius: 15px;
    margin: 10px;
}

.content2 .bodyPub .cardPub p {
    padding: 0px 0 10px;
}

.content2 .content .li img {
    background: var(--gray-border);
    width: 120px;
    height: 120px;
    border-radius: 50%;
    padding: 10px;
    margin: 10px;
}

.content2 .content {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 50px 0 50px 0;
}

.content2 .wrapContent {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.desc .btnPub button {
    background: var(--blue-footer);
    color: white;
    border: none;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.desc .btnPub {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}